myproject-master/myproject-master/myapp/__pycache__/
myproject-master/myproject-master/myapp/migrations/__pycache__/
myproject-master/myproject-master/myproject/__pycache__/__init__.cpython-311.pyc
myproject-master/myproject-master/myproject/__pycache__/settings.cpython-311.pyc
myproject-master/myproject-master/myproject/__pycache__/urls.cpython-311.pyc
myproject-master/myproject-master/myapp/__pycache__/models.cpython-311.pyc
myproject-master/myproject-master/myapp/__pycache__/urls.cpython-311.pyc
myproject-master/myproject-master/myapp/__pycache__/views.cpython-311.pyc
myproject-master/myproject-master/myproject/__pycache__/settings.cpython-311.pyc
myproject-master/myproject-master/myproject/__pycache__/urls.cpython-311.pyc