body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

h2 {
  margin-top: 50px;
}

.column-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.table-primary {
  background-color: #007bff;
  color: white;
}


.threshold-exceeded {
  background-color: #ffcccc !important;
}

.text-center {
  text-align: center;
}

.accordion-header {
  width: 100%;
  text-align: left;
  font-weight: bold;
  background-color: #f0f0f0; /* 背景色を設定 */
  border: none;
  outline: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; /* 角を丸くする */
}

.accordion-header:hover{
  background-color: #b0b0b0;
}

.accordion-content {
  display: none;
  background-color: #eaeaea;
  padding: 10px 0;
  border-radius: 8px;
}

