*{
    margin: 0;
}
header {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #40b1de; /* 背景色を付けるなど */
  }
li{
    padding-left: 40px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
.threshold-exceeded {
    background-color: #ffcccc; /* 閾値超過時にセルを赤っぽくする */
  }

ul {
    display: flex;
    list-style:none;
    padding-right: 0;
}