body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* 最大の高さ */
    overflow-y: auto; /* スクロール対応 */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.form-group, .question-section {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.option {
    margin-left: 20px;
    display: block;
    text-align: left;
}

.question-section {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #45a049;
}
