<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyApp{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <header>
        <h1>GIVE&GIFT</h1>
        <nav>
            <ul>
                <li><a href="{% url 'myapp:home' %}">ホーム</a></li>
                <li><a href="{% url 'myapp:show_employees' %}">社員リスト</a></li>
                <li><a href="{% url 'myapp:show_questionnaires' %}">アンケートリスト</a></li>
                <li><a href="{% url 'myapp:show_daily_reports' %}">日報</a></li>
                <li><a href="{% url 'myapp:profile' %}">プロフィール</a></li>
                <li><a href="{% url 'myapp:questionnaire_list' %}">アンケート一覧</a></li>
            </ul>
        </nav>
    </header>

    <!-- 各ページのコンテンツを挿入 -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 give&gift</p>
    </footer>
</body>
</html>
