<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">

</head>
<body>
    {% include 'myapp/navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center">ようこそ、{{ request.user.username }}さん！</h1>
        <div class="d-flex justify-content-center">
            <a href="{% url 'myapp:submit_answers' %}" class="btn btn-primary me-4">朝日報</a>
            <!-- データ確認ボタン -->
            <a href="{% url 'myapp:show_own_answer' %}" class="btn btn-success ms-4">データ確認</a>
        </div>
        
        {% if request.user.employee.employee_type == 'admin' %}
            <div class="d-flex justify-content-center mt-4">
                <h2>レポートを作成していない従業員</h1>
            
            </div>

            <div class="d-flex justify-content-center">
                {% for employee in employees_without_reports %}
                    <div class="employee-name">{{ employee.name }},</div>
                {% empty %}
                    <p>すべての従業員がレポートを作成しています。</p>
                {% endfor %}
            </div>

        {% endif %}


        {% if request.user.employee.employee_type == 'general' %}
            <h2 class="mt-5">最新のレポート</h2>
            {% if report %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>レポート日付</th>
                            <th>レポートタイプ</th>
                            <th>質問</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ report.report_datetime }}</td>
                            <td>{{ report.report_type }}</td>
                            <td>
                                <ul>
                                    {% for answer in report.answers %}
                                        <li><strong>{{ answer.question }}:</strong> {{ answer.answer }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>該当するレポートはありません。</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
