<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Answers</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>回答</th>
                <th>作成日時</th>
                <th>更新日時</th>
                <th>日報id</th>
                <th>アンケートid</th>
            </tr>
        </thead>
        <tbody>
            {% for Answer in answers %}
            <tr>
                <td>{{ Answer.id }}</td>
                <td>{{ Answer.answer }}</td>
                <td>{{ Answer.created_at }}</td>
                <td>{{ Answer.updated_at }}</td>
                <td>{{ Answer.daily_report }}</td>
                <td>{{ Answer.questionnaire }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>