<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール編集</title>
</head>
<body>
    <h1>プロフィール編集</h1>

    <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="username">名前</label>
            <input value="{{ request.user.username }}" name="username" id="username" type="text" required="required" />
        </div>

        <div>
            <label for="email">メールアドレス</label>
            <input value="{{ request.user.email }}" name="email" id="email" type="email" />
        </div>
        <div>
            <button type="submit">保存</button>
        </div>
    </form>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>
</body>
</html>
